---
---

@import "{{ site.theme }}";

body {
  background-color: #e5e5e5;
}

.page-header {
  background-color: #171717;
  background-image: none;
  color: #ffffff;
}

.page-header .project-tagline {
  color: #ffffff;
}

.page-header .btn {
  display: none;
}

.site-footer {
  display: none;
}
